<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.name }}</strong> 
      </h3>
    </header>
    <p>
      <strong>Description:</strong>
      {{ currentUser.description }}
    </p>
    <p>
      <strong>created At:</strong>
      {{ currentUser.createdAt }}
    </p>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>