<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-6">
            <h1>Add Item</h1>
            <form
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
            >
            <div class="form-group">
            <label for="itemTitle">Item Title</label>
            <input
              type="text"
              class="form-control"
              name="itemTitle"
              [(ngModel)]="form.title"
              required
              #title="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && title.invalid"
            >
              Item Title is required!
            </div>
          </div>

          <div class="form-group">
            <label for="itemPrice">Item Price</label>
            <input
              type="text"
              class="form-control"
              name="itemPrice"
              [(ngModel)]="form.price"
              required
              #price="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && title.invalid"
            >
              Item Price is required!
            </div>
          </div>

          <div class="form-group">
            <label for="itemDescription">Item Description</label>
            <input
              type="text"
              class="form-control"
              name="itemDescription"
              [(ngModel)]="form.description"
              required
              #description="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && description.invalid"
            >
              Description of item is required!
            </div>
          </div>

          <div class="form-group">
            <label for="itemCategory">Item Category</label>
            <input
              type="text"
              class="form-control"
              name="itemCategory"
              [(ngModel)]="form.category"
              required
              #category="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && title.invalid"
            >
              Item Title is required!
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block">
              Submit
            </button>
          </div>
          </form>
        </div>
        <div class="col-md-6 border-left">
            <h1>Item List</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itm of items" [attr.id]="itm.id">
                    <th scope="row">{{itm.id}}</th>
                    <td>{{itm.title}}</td>
                    <td>{{itm.price}}</td>
                    <td>{{itm.category}}</td>
                    <td>{{itm.description}}</td>
                    <td><button type="button" class="btn btn-outline-primary" (click) = 'deleteItem(itm.id)'><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg></button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
