<div class= "offset-md-2 col-md-11"style="margin: 50px 0px 20px 100px">
  <h1>Welcome to Inventory management system</h1>
</div>

<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
        style="border-radius: 360px;margin: auto;"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group" style="
        text-align: center;">
          <label for="username">User Name</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
            style="width: 50%;margin: auto;"
          />
          <div class="alert-danger" *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">name is required</div>
            <div *ngIf="name.errors.minlength">
              name must be at least 3 characters
            </div>
            <div *ngIf="name.errors.maxlength">
              name must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group" style="
        text-align: center;">
          <label for="description">Description</label>
          <input
            type="description"
            class="form-control"
            name="description"
            [(ngModel)]="form.description"
            description
            #description="ngModel"
            style="width: 50%;margin: auto;"
          />
          
        </div>
        <div class="form-group" style="
        text-align: center;">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            style="width: 50%;margin: auto;"
          />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>